<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<h1>메일 리스트에 가입되었습니다.</h1>
	<p>입력한 정보 내역입니다.</p>
    <%
        for(let i=0; i<list.length; i++){
            const vo = list[i];
    %>
	<table border="1" cellpadding="5" cellspacing="2">
		<tr>
			<td align=right>First name: </td>
			<td><%=vo.firstName %></td>
		</tr>
		<tr>
			<td align=right width="110">Last name: </td>
			<td width="110"><%=vo.lastName %></td>
		</tr>
		<tr>
			<td align=right>Email address: </td>
			<td><%=vo.email %></td>
		</tr>
	</table>
	<br>
    <%
        }
    %>
	<p>
		<a href="/add" >추가메일 등록</a>
	</p>
	<br>
</body>
</html>